<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICCalculator" />
                <binding name="BasicHttpBinding_IAsyncService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10004/Complex/endpoint1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICCalculator"
                contract="ComplexCalcReference.ICCalculator" name="BasicHttpBinding_ICCalculator" />
            <endpoint address="http://localhost:10004/Async/endpoint2" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAsyncService" contract="AsyncServiceReference.IAsyncService"
                name="BasicHttpBinding_IAsyncService" />
        </client>
    </system.serviceModel>
</configuration>